<div id="text" class="span8" >
  <p>Make a triangle with A = 70&deg, B = 30&deg, C = 80&deg</p></div>
  <div id="form" class="span2 form-inline">
    <%= form_tag("/triangles", :method => :post, :remote => "true") do %>
      <%= hidden_field(:triangle, :name, :value => @triangle.name) %>
      <%= hidden_field(:triangle, :x1) %>
      <%= hidden_field(:triangle, :y1) %>
      <%= hidden_field(:triangle, :x2) %>
      <%= hidden_field(:triangle, :y2) %>
      <%= hidden_field(:triangle, :x3) %>
      <%= hidden_field(:triangle, :y3) %>
      <%= hidden_field_tag("stage","2") %>
      <%= hidden_field(:triangle, :stage, :value => "2") %>
      <%= submit_tag("Share", :class => "btn btn-large btn-primary")%>
      </div>
    <% end %>
  </div>
</div>
</div>

<%= javascript_tag do -%> 
$(document).ready(function() {
        $('#triangle_name').keyup(function(){
            if ($('#triangle_name').val().length > 0) {
              $("input[type=submit]").removeAttr("disabled");
            } else {
              $("input[type=submit]").attr('disabled',true);
            }
        });
});
<% end -%>