<h1>Listing triangles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>X1</th>
    <th>Y1</th>
    <th>X2</th>
    <th>Y2</th>
    <th>X3</th>
    <th>Y3</th>
    <th>Stage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @triangles.each do |triangle| %>
  <tr>
    <td><%= triangle.name %></td>
    <td><%= triangle.x1 %></td>
    <td><%= triangle.y1 %></td>
    <td><%= triangle.x2 %></td>
    <td><%= triangle.y2 %></td>
    <td><%= triangle.x3 %></td>
    <td><%= triangle.y3 %></td>
    <td><%= triangle.stage %></td>
    <td><%= link_to 'Show', triangle %></td>
    <td><%= link_to 'Edit', edit_triangle_path(triangle) %></td>
    <td><%= link_to 'Destroy', triangle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Triangle', new_triangle_path %>
